@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img id="smallLogo" src="/images/smallLogo.jpg" title="yoav gurin" alt="yoav gurin" />    <div id="texts">    <span>34 Ben Atar St 66078 Tel Aviv </span>    <span>077 3210727  &nbsp;&nbsp;&nbsp;   052 3285343 </span>    <span id="email">yoavgurin@gmail.com</span>    <span id="facebook"><a title="facebook" href="http://www.facebook.com/yoav.gurin" target="_blank" ><img src="http://www.facebook.com/favicon.ico"/></a> </span></div>