@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="images">
  <img src="/images/series/s_01.jpg" />
  <img src="/images/series/s_02.jpg" />
  <img src="/images/series/s_03.jpg" />
  <img src="/images/series/s_04.jpg" />
  <img src="/images/series/s_05.jpg" />
  <img src="/images/series/s_06.jpg" />
  <img src="/images/series/s_07.jpg" />
  <img src="/images/series/s_08.jpg" />
  <img src="/images/series/s_09.jpg" />
  <img src="/images/series/s_10.jpg" />
  <img src="/images/series/s_11.jpg" />
  <img src="/images/series/s_12.jpg" />
  <img src="/images/series/s_13.jpg" />
  <img src="/images/series/s_14.jpg" />
  <img src="/images/series/s_15.jpg" />
  <img src="/images/series/s_16.jpg" />
  <img src="/images/series/s_17.jpg" />
  <img src="/images/series/s_18.jpg" />
  <img src="/images/series/s_19.jpg" />
  <img src="/images/series/s_20.jpg" />
  <img src="/images/series/s_21.jpg" />
  <img src="/images/series/s_22.jpg" />
  <img src="/images/series/s_23.jpg" />
  <img src="/images/series/s_24.jpg" />
  <img src="/images/series/s_25.jpg" />
  <img src="/images/series/s_26.jpg" />
  <img src="/images/series/s_27.jpg" />
  <img src="/images/series/s_28.jpg" />
  <img src="/images/series/s_29.jpg" />
  <img src="/images/series/s_30.jpg" />
  <img src="/images/series/s_31.jpg" />
</div>
