@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="images">
  <img src="/images/wandering/wandering_01.jpg" />
  <img src="/images/wandering/wandering_02.jpg" />
  <img src="/images/wandering/wandering_03.jpg" />
  <img src="/images/wandering/wandering_04.jpg" />
  <img src="/images/wandering/wandering_05.jpg" />
  <img src="/images/wandering/wandering_06.jpg" />
  <img src="/images/wandering/wandering_07.jpg" />
  <img src="/images/wandering/wandering_08.jpg" />
  <img src="/images/wandering/wandering_09.jpg" />
  <img src="/images/wandering/wandering_10.jpg" />
  <img src="/images/wandering/wandering_11.jpg" />
  <img src="/images/wandering/wandering_12.jpg" />
  <img src="/images/wandering/wandering_13.jpg" />
  <img src="/images/wandering/wandering_14.jpg" />
  <img src="/images/wandering/wandering_15.jpg" />
</div>
