@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="images">
  <img src="/images/business/b r t w 01.jpg" class="business" />
  <img src="/images/business/b r t w 02.jpg" class="business" /><br />
  <img src="/images/business/b r t w 03.jpg" class="business" />
  <img src="/images/business/b r t w 04.jpg" class="business" />
  <img src="/images/business/b r t w 05.jpg" class="business" />
  <img src="/images/business/b r t w 06.jpg" class="business" />
  <img src="/images/business/b r t w 07.jpg" class="business" />
  <img src="/images/business/b r t w 08.jpg" class="commercial business" />
  <img src="/images/business/b r t w 09.jpg" class="commercial business" />
  <img src="/images/business/b r t w 10.jpg" class="commercial business" />
  <img src="/images/business/b r t w 11.jpg" class="commercial" />
  <img src="/images/business/b r t w 12.jpg?nocache" class="commercial" />
  <img src="/images/business/b r t w 13.jpg" class="commercial" />
  <img src="/images/business/b r t w 14.jpg" class="commercial" />
  <img src="/images/business/b r t w 15.jpg" class="commercial" />
  <img src="/images/business/b r t w 16.jpg" class="commercial" />
  <img src="/images/business/b r t w 17.jpg" class="residence" />
  <img src="/images/business/b r t w 18.jpg" class="residence" /><br />
  <img src="/images/business/b r t w 19.jpg" class="residence" />
  <img src="/images/business/b r t w 20.jpg" class="residence" />
  <img src="/images/business/b r t w 21.jpg" class="residence" />
  <img src="/images/business/b r t w 22.jpg" class="residence" />
  <img src="/images/business/b r t w 23.jpg" class="residence" />
  <img src="/images/business/b r t w 24.jpg" class="residence" />
  <img src="/images/business/b r t w 25.jpg" class="residence" /><br />
  <img src="/images/business/b r t w 26.jpg" class="residence" />
  <img src="/images/business/b r t w 27.jpg" class="residence" />
  <img src="/images/business/b r t w 28.jpg" class="residence" /><br />
  <img src="/images/business/b r t w 29.jpg" class="residence" />
  <img src="/images/business/b r t w 30.jpg" class="residence" /><br />
  <img src="/images/business/b r t w 31.jpg" class="residence" />
  <img src="/images/business/b r t w 32.jpg" class="residence" />
  <img src="/images/business/b r t w 33.jpg" class="residence" />
  <img src="/images/business/b r t w 34.jpg" class="residence" />
  <img src="/images/business/b r t w 35.jpg" class="residence" />
  <img src="/images/business/b r t w 36.jpg" class="residence" />
  <img src="/images/business/b r t w 37.jpg" class="residence" />
</div>
