@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="images">
  <img src="/images/residence/r r t w 01.jpg" />
  <img src="/images/residence/r r t w 02.jpg" />
  <img src="/images/residence/r r t w 03.jpg" />
  <img src="/images/residence/r r t w 04.jpg" />
  <img src="/images/residence/r r t w 05.jpg" />
  <img src="/images/residence/r r t w 06.jpg?nocache" />
  <img src="/images/residence/r r t w 07.jpg" />
  <img src="/images/residence/r r t w 08.jpg" />
  <img src="/images/residence/r r t w 09.jpg" /><br />
  <img src="/images/residence/r r t w 10.jpg" />
  <img src="/images/residence/r r t w 11.jpg" />
  <img src="/images/residence/r r t w 12.jpg" />
  <img src="/images/residence/r r t w 13.jpg" />
  <img src="/images/residence/r r t w 14.jpg" />
  <img src="/images/residence/r r t w 15.jpg" />
  <img src="/images/residence/r r t w 16.jpg" />
  <img src="/images/residence/r r t w 17.jpg" />
  <img src="/images/residence/r r t w 18.jpg" /><br />
  <img src="/images/residence/r r t w 19.jpg" />
  <img src="/images/residence/r r t w 20.jpg" />
  <img src="/images/residence/r r t w 21.jpg" />
  <img src="/images/residence/r r t w 22.jpg" />
  <img src="/images/residence/r r t w 23.jpg" />
  <img src="/images/residence/r r t w 24.jpg" />
  <img src="/images/residence/r r t w 25.jpg" />
  <img src="/images/residence/r r t w 26.jpg" />
  <img src="/images/residence/r r t w 27.jpg" />
  <img src="/images/residence/r r t w 28.jpg" />
  <img src="/images/residence/r r t w 29.jpg" />
  <img src="/images/residence/r r t w 30.jpg" />
  <img src="/images/residence/r r t w 31.jpg" /><br />
  <img src="/images/residence/r r t w 32.jpg" /><br />
  <img src="/images/residence/r r t w 33.jpg" /><br />
  <img src="/images/residence/r r t w 34.jpg" />
  <img src="/images/residence/r r t w 35.jpg" />
  <img src="/images/residence/r r t w 36.jpg" />
  <img src="/images/residence/r r t w 37.jpg" />
  <img src="/images/residence/r r t w 38.jpg" />
</div>
